{% unless section.settings.enable_marquee %}
  {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
{% endunless %}
{{ 'section-instagram.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-instagram.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign border_width = '1'
  case section.settings.border_size
    when 'border-2'
      assign border_width = '2'
    when 'border-3'
      assign border_width = '3'
  endcase
-%}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    background-color: {{ section.settings.bg_color }};
    --insta-text-color: {{ section.settings.text_color }};
    --insta-img-border-width: {{ border_width }}px;
  }
  #shopify-section-{{ section.id }} .insta__slider .swiper-button-prev,
  #shopify-section-{{ section.id }} .insta__slider .swiper-button-next {
    --swiper-navigation-size: 14px;
    width: 40px;
    height: 40px;
    top: 40%;
    padding: 10px !important;
  }
  #shopify-section-{{ section.id }} .insta__slider .swiper-button-prev.swiper-button-disabled,
  #shopify-section-{{ section.id }} .insta__slider .swiper-button-next.swiper-button-disabled {
    opacity: 0.3;
  }
  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} .insta__slider .swiper-wrapper {
      display: flex !important;
      transform: none !important;
      justify-content: space-between;
      gap: 1rem;
    }
    #shopify-section-{{ section.id }} .insta__slider .swiper-slide {
      width: 250px !important;
    }
    #shopify-section-{{ section.id }} .insta__slider .swiper-button-prev,
    #shopify-section-{{ section.id }} .insta__slider .swiper-button-next {
      display: none !important;
    }
  }
{%- endstyle -%}

<div class="{%- if section.settings.enable_page_width %} page-width{% endif -%}">
  <div class="insta__header">
    <div>
      <h2 class="insta__heading h2">{{ section.settings.title }}</h2>
      <p class="insta__subtitle">{{ section.settings.subtitle }}</p>
    </div>
    <div class="insta__cta-desktop">
      <a href="{{ section.settings.url }}" class="btn {{ section.settings.button_style }}">
        {{ section.settings.insta }}
      </a>
    </div>
  </div>

  <div class="insta__slider"
    data-section-id="{{ section.id }}"
    data-slides="{{ section.blocks.size }}">
    <div class="swiper" id="InstagramSwiper-{{ section.id }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {%- assign img = block.settings.image -%}
          {% if img %}
            <div class="swiper-slide" {{ block.shopify_attributes }}>
              <a href="{{ section.settings.url }}">
                <img
                  class="insta__image"
                  src="{{ img | image_url: width: 1200 }}"
                  srcset="
                    {{ img | image_url: width: 400 }} 400w,
                    {{ img | image_url: width: 800 }} 800w,
                    {{ img | image_url: width: 1200 }} 1200w
                  "
                  sizes="(max-width: 768px) 50vw, 250px"
                  width="{{ img.width }}"
                  height="{{ img.height }}"
                  alt="{{ img.alt | escape }}"
                  loading="lazy">
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="swiper-button-prev btn btn-primaire"></div>
      <div class="swiper-button-next btn btn-primaire"></div>
    </div>

    <a href="{{ section.settings.url }}" class="insta__cta-mobile btn {{ section.settings.button_style }}">
      {{ section.settings.insta }}
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Instagram",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Couleur de fond"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Couleur du texte"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titre"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sous-titre"
      },
      {
        "type": "text",
        "id": "insta",
        "label": "Nom du instagram (ex: @boostheme)"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Lien du Instagram"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Style du bouton",
        "options": [
          { "value": "btn-primaire", "label": "Primaire" },
          { "value": "btn-secondaire", "label": "Secondaire" },
          { "value": "btn-tertiaire", "label": "Tertiaire" }
        ],
        "default": "btn-primaire"
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin haut",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bas",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding haut",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bas",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "enable_marquee",
        "label": "Activer le marquee"
      },
      {
        "type": "checkbox",
        "id": "enable_page_width",
        "label": "Désactiver pleine page"
      },
      {
        "type": "select",
        "id": "border_size",
        "label": "Taille de la bordure",
        "options": [
          { "label": "1px", "value": "border" },
          { "label": "2px", "value": "border-2" },
          { "label": "3px", "value": "border-3" }
        ],
        "default": "border"
      }
    ],
    "blocks": [
      {
        "type": "img_insta",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram",
        "category": "Maxence"
      }
    ]
  }
{% endschema %}
