{% unless section.settings.enable_marquee %}
  {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
{% endunless %}

{%- style -%}
  .instagram-swiper-{{ section.id }} .swiper-button-prev
  , .instagram-swiper-{{ section.id }}
  .swiper-button-next {
    --swiper-navigation-size: 14px;
    width: 40px;
    height: 40px;
    top: 40%;
    padding: 10px !important;
  }
  .instagram-swiper-{{ section.id }}
  .swiper-button-prev.swiper-button-disabled
  , .instagram-swiper-{{ section.id }}
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.3;
  }
  @media screen and (min-width: 750px) {
    .instagram-swiper-{{ section.id }} .swiper-wrapper {
      display: flex !important;
      transform: none !important;
      justify-content: space-between;
      gap: 1rem;
    }
    .instagram-swiper-{{ section.id }}
    .swiper-slide {
      width: 250px !important;
    }
    .instagram-swiper-{{ section.id }}
    .swiper-button-prev
    , .instagram-swiper-{{ section.id }}
    .swiper-button-next {
      display: none !important;
    }
  }
{%- endstyle -%}

<div style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px; margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px; background-color: {{ section.settings.bg_color }}">
  <div class="{%- if section.settings.enable_page_width %} page-width {% endif -%}">
    <div class="flex w-full justify-between items-center mb-10">
      <div>
        <h1 class="h2" style="color: {{ section.settings.text_color }};">{{ section.settings.title }}</h1>
        <p style="color: {{ section.settings.text_color }};">{{ section.settings.subtitle }}</p>
      </div>
      <div>
        <a href="{{ section.settings.url }}" class="btn {{ section.settings.button_style }} hidden! md:block!">
          {{ section.settings.insta }}
        </a>
      </div>
    </div>

    <div class="instagram-swiper-{{ section.id }} relative!">
      <div class="swiper" id="InstagramSwiper-{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% assign img = block.settings.image %}
            {% if img %}
              <div class="swiper-slide" {{ block.shopify_attributes }}>
                <a href="{{ section.settings.url }}">
                  <img
                    class="{{ section.settings.border_size }} border-black aspect-square object-cover w-full!"
                    style="border-radius: var(--rounded--size) !important;"
                    src="{{ img | image_url: width: 1200 }}"
                    srcset="
                        {{ img | image_url: width: 400 }} 400w,
                        {{ img | image_url: width: 800 }} 800w,
                        {{ img | image_url: width: 1200 }} 1200w
                      "
                    sizes="(max-width: 768px) 50vw, 250px"
                    alt="{{ img.alt | escape }}"
                    loading="lazy">
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="swiper-button-prev btn btn-primaire"></div>
        <div class="swiper-button-next btn btn-primaire"></div>
      </div>
      <a href="{{ section.settings.url }}" class="flex mt-10! btn {{ section.settings.button_style }} md:hidden! block!">
        {{ section.settings.insta }}
      </a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
          new Swiper('#InstagramSwiper-{{ section.id }}', {
            slidesPerView: 2.2,
            spaceBetween: 12,
            navigation: {
              prevEl: '.instagram-swiper-{{ section.id }} .swiper-button-prev',
              nextEl: '.instagram-swiper-{{ section.id }} .swiper-button-next',
            },
            breakpoints: {
              750: {
                enabled: false,
                slidesPerView: {{ section.blocks.size }},
                spaceBetween: 16,
              },
            },
          });
        });
    </script>

  </div>
</div>

{% schema %}
  {
    "name": "Instagram",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Couleur de fond"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Couleur du texte"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titre"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sous-titre"
      },
      {
        "type": "text",
        "id": "insta",
        "label": "Nom du instagram (ex: @boostheme)"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Lien du Instagram"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Style du bouton",
        "options": [
          {
            "value": "btn-primaire",
            "label": "Primaire"
          },
          {
            "value": "btn-secondaire",
            "label": "Secondaire"
          },
          {
            "value": "btn-tertiaire",
            "label": "Tertiaire"
          }
        ],
        "default": "btn-primaire"
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin haut",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bas",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding haut",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bas",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "enable_marquee",
        "label": "Activer le marquee"
      },
      {
        "type": "checkbox",
        "id": "enable_page_width",
        "label": "Désactiver pleine page"
      },
      {
        "type": "select",
        "id": "border_size",
        "label": "Taille de la bordure",
        "options": [
          {
            "label": "1px",
            "value": "border"
          },
          {
            "label": "2px",
            "value": "border-2"
          },
          {
            "label": "3px",
            "value": "border-3"
          }
        ],
        "default": "border"
      }
    ],
    "blocks": [
      {
        "type": "img_insta",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram",
        "category": "Maxence"
      }
    ]
  }
{% endschema %}