{{ 'section-review.css' | asset_url | stylesheet_tag }}

{% capture stars %}
  <svg width="14px" height="14px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><title>Trustpilot icon</title><path d="M12,17.964l5.214-1.321l2.179,6.714L12,17.964z M24,9.286h-9.179L12,0.643L9.179,9.286 H0l7.429,5.357l-2.821,8.643l7.429-5.357l4.571-3.286L24,9.286L24,9.286L24,9.286L24,9.286z"/></svg>
{% endcapture %}
<div class="container-review page-width">
  <div class="review_container">
    <span class="rating-stars-container">
      <div class="rating-stars">
        {{ stars }}
        {{ stars }}
        {{ stars }}
        {{ stars }}
        {{ stars }}
      </div>
    </span>
    <div>
      <p class="rating-text">Rated 4.8/5 based on +10,839 Total Ratings</p>
    </div>
  </div>
  <p class="rating-text">See what our customers are saying about our products</p>
  <div class="img_review_container">
    <div class="img_review_contain">
      <img
        class="img_review"
        width="450px"
        height="450px"
        src="https://twbkwh-sw.myshopify.com/cdn/shop/files/user_1771250464631_tallow_ugc_01.png_1771250484963.jpg?v=1771269265&width=600"
        alt="">
      <div class="rating-text flex flex-row justify-center gap-4">
        <p class="rating-text text-[10px]!">{{ stars }}{{ stars }}{{ stars }}{{ stars }}{{ stars }}</p>
        <p class="text-[10px]!">Sarah,28</p>
        <p class="border border-black rounded-md w-fit text-[10px]!">Verified Buyer</p>
      </div>
      <p class="rating-text">I wasn’t sure what to expect, but this balm exceeded my expectations. It has a subtle, clean scent and feels super nourishing. My skin looks more even and calm. Only wish the jar was bigger because I’m going through it fast!</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Review Section",
    "settings": [],
    "presets": [
      {
        "name": "Review Section"
      }
    ]
  }
{% endschema %}