<section class="{{ section.settings.padding_mobile }}">
  <div class="w-full h-[500px] relative overflow-hidden">
    {% if section.settings.image != blank %}
      {{ section.settings.image | image_url: width: 2400 | image_tag: class: 'absolute! inset-0! w-full! h-full! object-cover!', loading: 'lazy'
      }}
    {% endif %}

    <!-- Contenu -->
    <div class="absolute inset-0 flex items-center">
      <div class="section-container">
        <div class="w-full md:w-1/2 flex flex-col gap-6">
          {% if section.settings.title != blank %}
            <div class="font-bold! text-white! text-3xl! md:text-5xl!">
              {{ section.settings.title }}
            </div>
          {% endif %}

          {% for block in section.blocks %}
            <div class="flex gap-4 items-center py-3 border-b border-white/30" {{ block.shopify_attributes }}>
              {% if block.settings.icon != blank %}
                {{ block.settings.icon | image_url: width: 120 | image_tag: class: 'w-12! h-12! rounded-full! object-cover! shrink-0!', loading: 'lazy'
                }}
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="text-white!">{{ block.settings.text }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Details Banner",
    "settings": [
      {
        "type": "header",
        "content": "Image de fond"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image de fond"
      },
      {
        "type": "header",
        "content": "Contenu"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Titre",
        "default": "<p>1,5 million de produits vendus. Conçus pour durer, faits pour briller</p>"
      },
      {
        "type": "header",
        "content": "Espacement"
      },
      {
        "type": "select",
        "id": "padding_mobile",
        "label": "Padding sur mobile",
        "options": [
          {
            "value": "pt-[38px]! md:py-[32px]!",
            "label": "Padding en haut"
          },
          {
            "value": "pb-[38px]! md:py-[32px]!",
            "label": "Padding en bas"
          },
          {
            "value": "py-[38px]! md:py-[32px]!",
            "label": "Padding en haut et en bas"
          }
        ],
        "default": "py-[38px]! md:py-[32px]!"
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icone"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Texte",
            "default": "Faits au Quebec"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Details Banner",
        "category": "Maxence",
        "blocks": [
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}