{% liquid
  assign image_position = section.settings.image_position

  if image_position == 'right'
    assign image_position = 'lg:order-2'
    assign content_position = 'lg:order-1'
  endif
%}

<div class="text-block {%- if section.settings.enable_page_width %} page-width {% endif -%}" 
style="
      --text-align: {{ section.settings.alignment }}; 
      --text-align-mobile: {{ section.settings.text-align-mobile }};
      --margin-top: {{ block.settings.margin_top }}px;
      --margin-bottom: {{ block.settings.margin_bottom }}px;"
{{ section.shopify_attributes }}>
  <div class="grid! grid-cols-1! md:grid-cols-2! overflow-hidden lg:min-h-[466px]" style="background-color: {{ section.settings.background_color }}; border-radius: var(--rounded--size) !important;">
    <!-- Image -->
    <div
      class="relative w-full h-[350px] md:h-full {{ image_position }} overflow-hidden!"
      style="background-color: {{ section.settings.background_color_image }};">
      {% assign image_class = 'absolute w-full inset-0 ' | append: section.settings.image_object_fit %}
      {% assign image_class = image_class | append: ' h-full' %}
      {% if section.settings.image %}
        {%- liquid
          assign fetchpriority = 'low'
          assign loading = 'lazy'
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
          assign image_width = section.settings.image.width
          assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        -%}
        {{
          section.settings.image | image_url: width: 2500 | image_tag: loading: loading, fetchpriority: fetchpriority, width: image_width, height: image_height, class: image_class, widths: widths, sizes: '100vw'
        }}
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: image_class }}
      {% endif %}
    </div>

    <!-- Content -->
    <div class="flex items-center px-[32px] py-10 md:py-0 md:px-[64px] {{ content_position }}">
      <div>
        <p class="text-block w-full">Maxence Garandel</p>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'subtitle' %}
              <p
                class="font-light text-block"
                style="color: {{ block.settings.color }};"
                {{ block.shopify_attributes }}>
                {{ block.settings.subtitle }}
              </p>
            {% when 'title' %}
              <h2
                class="text-block"
                style="color: {{ block.settings.color }};"
                {{ block.shopify_attributes }}>
                {{ block.settings.title }}
              </h2>
            {% when 'description' %}
              <div
                class="font-heading text-block"
                style="color: {{ block.settings.color }};"
                {{ block.shopify_attributes }}>
                {{ block.settings.description | newline_to_br }}
              </div>
            {% when 'button' %}
              {% if block.settings.button_label != blank and block.settings.button_url != blank %}
                <div class="flex" {{ block.shopify_attributes }}>
                  <a href="{{ block.settings.button_url }}" class="btn {{ block.settings.button_style }}">
                    {% if block.settings.button_label_mobile != blank %}
                      <span class="hidden! md:block!">{{ block.settings.button_label }}</span>
                      <span class="md:hidden!">{{ block.settings.button_label_mobile }}</span>
                    {% else %}
                      {{- block.settings.button_label -}}
                    {% endif %}
                  </a>
                </div>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{%  stylesheet %} 

.text-block {
    text-align: var(--text-align-mobile);
    align-content: center;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
  }

  @media (width > 750px) {
    .text-block {
      text-align: var(--text-align);
    }
  }
  {% endstylesheet %}

{% schema %}
  {
    "name": "Section Gauche Droite",
    "class": "section-gauche-droite",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_page_width",
        "label": "Activer Page Width"
      },
      {
        "type": "text_alignment",
        "id": "text-align-mobile",          
        "label": "Alignement sur mobile",     
        "default": "left"           
      },
      {
        "type": "text_alignment",
        "id": "alignment",          
        "label": "Alignement sur ordinateur",     
        "default": "left"           
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_object_fit",
        "label": "Fit de l'image",
        "options": [
          {
            "value": "object-cover",
            "label": "Cover"
          },
          {
            "value": "object-contain",
            "label": "Contain"
          }
        ],
        "default": "object-cover"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Position de l'image",
        "options": [
          {
            "value": "left",
            "label": "Gauche"
          },
          {
            "value": "right",
            "label": "Droite"
          }
        ],
        "default": "left"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Couleur de fond contenu",
        "default": "#FBF8F5"
      },
      {
        "type": "color",
        "id": "background_color_image",
        "label": "Couleur de fond image",
        "default": "#FBF8F5"
      },
      {
      "type": "header",
      "content": "Margin"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin Top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Titre",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Couleur du titre",
            "default": "#191918"
          }
        ]
      },
      {
        "type": "subtitle",
        "name": "Sous-titre",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sous-titre"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Couleur du sous-titre",
            "default": "#C4664A"
          }
        ]
      },
      {
        "type": "description",
        "name": "Description",
        "settings": [
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Couleur de la description",
            "default": "#444441"
          }
        ]
      },
      {
        "type": "button",
        "name": "Bouton",
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "Label"
          },
          {
            "type": "text",
            "id": "button_label_mobile",
            "label": "Label mobile"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "URL"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Style du bouton",
            "options": [
              {
                "value": "btn-primaire",
                "label": "Primaire"
              },
              {
                "value": "btn-secondaire",
                "label": "Secondaire"
              },
              {
                "value": "btn-tertiaire",
                "label": "Tertiaire"
              }
            ],
            "default": "btn-primaire"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Section Gauche Droite",
        "blocks": [
          {
            "type": "title",
            "settings": {
              "title": "Anne Borde & <br> Charlotte Rey"
            }
          },
          {
            "type": "description",
            "settings": {
              "description": "<p>Deux expertes en joaillerie, avec chacune plus de 20 ans d'expérience, dénichent les trésors cachés dans les coffres des particuliers et des professionnels.<\/p>"
            }
          },
          {
            "type": "button",
            "settings": {
              "button_label": "Découvrir les fondatrices",
              "button_label_mobile": "Découvrir",
              "button_url": "shopify:\/\/collections",
              "button_style": "btn-primaire"
            }
          }
        ]
      }
    ]
  }
{% endschema %}