{% schema %}
  {
    "name": "Maxence Test Section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding haut",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bas",
        "default": 0,
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "img_insta",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Maxence Test Section"
      }
    ]
  }
{% endschema %}

<div style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="page-width">
    <div class="flex w-full justify-between items-center">
      <div>
        <h1 class="h2">Follow us on Instagram</h1>
        <p>Get your daily dose of design inspiration. Join our Instagram community today!</p>
      </div>
      <div>
        <button class="btn btn-primaire">Maxence</button>
      </div>
    </div>
    <div class="flex gap-4 overflow-hidden">
      {% for block in section.blocks %}
        {% assign img = block.settings.image %}
        {% if img %}
          <img
            class="border border-black"
            src="{{ img | image_url: width: 1200 }}"
            srcset="
            {{ img | image_url: width: 400 }} 400w,
            {{ img | image_url: width: 800 }} 800w,
            {{ img | image_url: width: 1200 }} 1200w
          "
            sizes="(max-width: 768px) 100vw, 1200px"
            alt="{{ img.alt | escape }}"
            loading="lazy"
            width="250"
            height="250"
            {{ block.shopify_attributes }}>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>