{{ 'tailwind.css' | asset_url | stylesheet_tag }}

<section class="w-full hidden! md:block!">
  <div class="bg-cover bg-center h-full w-full flex items-center justify-end p-24 min-h-[10vh] md:min-h-[70vh]"
       style="background-image: url('{{ section.settings.img_ordi | image_url }}');">
    <div class="flex flex-col gap-6 p-1 w-[40%]" style="color: {{ section.settings.color_text }};">
      <h1 style="color: {{ section.settings.color_text }};" class="h1 font-bold!">Obtenez votre plan de nutrition</h1>
      <p>Réussissez votre prochaine course grâce à
un plan nutritionnel gratuit adapté à vos besoins.</p>
      <button style="color: {{ section.settings.color_text }}; background-color: {{ section.settings.color_bg }};" class="py-5 px-25 rounded-lg md:self-start md:mx-0 text-[14px] font-bold">
        NUTRITION CALCULATOR
      </button>
  </div>
</section>

<section class="w-full block! md:hidden!">
  <div class="relative w-full">
    <img
      src="{{ section.settings.img_mobile | image_url }}"
      alt=""
      class="w-full h-auto object-cover"
    >
    <div class="absolute inset-0 flex items-end p-8">
      <div class="flex flex-col gap-6 w-full" style="color: {{ section.settings.color_text }};">
        <h1 style="color: {{ section.settings.color_text }};" class="h1 font-bold!">Obtenez votre plan de nutrition</h1>
        <p>Réussissez votre prochaine course grâce à un plan nutritionnel gratuit adapté à vos besoins.</p>
        <button style="color: {{ section.settings.color_text }}; background-color: {{ section.settings.color_bg }};" class="py-5 px-25 rounded-lg text-[14px] font-bold">
          NUTRITION CALCULATOR
        </button>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Image + Texte Maxence",
  "tag": "section",
  "class": "section-image-text-tw",
  "settings": [
    {
      "type": "header",
      "content": "Section test by Maxence"
    },
    {
        "type": "color",
        "default": "#D5E9FB",
        "id": "color_text",
        "label": "Couleur du text"
    },
    {
        "type": "color",
        "default": "#D5E9FB",
        "id": "color_bg",
        "label": "Couleur du bouton"
    },
    {
        "type": "image_picker",
        "id": "img_mobile",
        "label": "Photo mobile"
    },
    {
        "type": "image_picker",
        "id": "img_ordi",
        "label": "Photo Ordinateur"
    }
  ],
  "presets": [
    {
      "name": "Image + Texte Maxence"
    }
  ]
}
{% endschema %}
